@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fef6e4; 
}

body {
  color: #333;
  
  overflow-x: hidden; 
}
